<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script type="text/javascript" src="{{ asset('bootstrap/js/jquery-3.2.0.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}
         <link href="{{asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
         <link href="{{asset('bootstrap/css/bootstrap-theme.min.css')}}" rel="stylesheet">
         <link rel="stylesheet" href="{{asset('css/base.css')}}"/>
        {% endblock %}
      <title>{% block title %}Welcome!{% endblock %}</title>
      <link rel="icon" type="image/x-icon" href="{{ asset('imgs/game_icon.jpg') }}" />
    </head>

    {% block body %}
    <body>
	<div class="container-fluid">
    <div class="row">
      <div id="left_menu" class = "col-sm-2 col-sm-pull-0">
        <div id="infosPension" class="menu">
        {% set auth = app.user %}
          {% if auth is not null %}
             <img src="{{ asset('imgs/po.png') }}"> : {{ auth.lastPension.gold }} &nbsp&nbsp
             <img src="{{ asset('imgs/paws.png') }}"> : {{ auth.lastPension.paws }}<br>
             Réputation : {{ auth.lastPension.reputation }}<br>
             <img src="{{ asset('uploads/avatar/' ~ auth.lastPension.avatar) }}"
                  class="img-circle" id="imgPension"/>
             {{ auth.lastPension.name }}
          {% endif %}
        </div>

      	<div id="liens" class="menu">
        {% if is_granted("ROLE_ADMIN") %}
          <a href="{{ path('administration') }}" ><input type="button" value="Administration" class="butt"></a>
          <br>
        {% endif %}
          <a href="{{ path('homepage') }}"><input type="button" value="Votre pension" class="butt"></a>
          <br>
      		<a href="{{ path('chooseMission') }}" ><input type="button" value="Missions" class="butt"></a>
      		<br>
          <a href="{{ path('veterinary') }}"><input type="button" value="Vétérinaire" class="butt"></a>
      		<br>
          <a href="{{ path('post_consult') }}"><input type="button" value="Poste" class="butt"></a>
          <br>
          <a href="{{ path('pensions') }}"><input type="button" value="Vos pensions" class="butt"></a>
          <br>
      		<a href="{{ path('ranking') }}"><input type="button" value="Classement" class="butt"></a>
      		<br>
      		<a href="{{ path('logout_user') }}"><input type="button" value="Deconnexion" class="butt"></a>
      	</div>
      </div>

    	<div id="ecran_princip" class="col-sm-9 col-sm-push-1">
          {% for msg in app.session.flashbag.get('ok') %}
            <div class="alert alert-success">
                 {{ msg }}
            </div>
          {% endfor %}
          {% for info in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
               {{ info }}
            </div>
          {% endfor %}

          {% block main_screen %}
          {% endblock %}
    	</div>
    </div>

    {% endblock %}
    {% block javascripts %}
       {% if app.user is null %}
      <script>
        $("#left_menu").addClass("disabled");
      </script>
      {% endif %}
    {% endblock %}
	</div>
    </body>
</html>
