{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{asset('css/missions.css')}}"/>
{% endblock %}


{% block main_screen %}

 {% if new_possible == 1 %}
 	<div class="alert alert-danger">
 		Nombre de Paws insuffisant, revenez demain!
 	</div>
 {% elseif new_possible == 2 %}
  	<div class="alert alert-danger">
 		Nombre de missions maximal atteint! Finissez une mission pour pouvoir en accepter une autre.
 	</div>
 {% endif %}

	<div id="currMissDescr" class="clearfix">
		<h2></h2>
		<img class = "pull-left img-responsive"/>
		<p></p>
	</div>

	<ul id="listM" class="col-sm-2">
	{% for i in 0..2 %}
		<li id="mission-{{ i }}" class="link nameMission">{{ missions[i].name }}</li>
	{% endfor %}
	</ul>

	<div id="currMissRewards" class="col-sm-5 col-sm-push-1">
		<div id="rewards">
			<h4>Récompenses :</h4>

			<ul>
				<li>
					<span id="gold"></span>
					<img src="{{ asset('imgs/po.png') }}">
				</li>
				<li>
					Réputation : <span id="reputation"></span>
				</li>
				<li>
					Durée : <span id="duration"></span>
				</li>
			</ul>
		</div>
		<a href='{{ path("acceptedMiss", { "id" : 0 }) }}' id="acceptBut"
			type="button" class="btn btn-default {% if new_possible != 0 %} disabled {% endif %}">
				Accepter (1 <img src="{{ asset('imgs/paws.png') }}">)
		</a>
	</div>

{% endblock %}

 {% block javascripts %}
 <script>

 var missions = {{ missions|json_encode|raw }};

$(".nameMission").click(function(){
	$(".nameMission").css("font-weight" , "");
	$(this).css("font-weight" , "bold");
 
	var newMiss = missions[$(this).attr("id").split("-")[1]];

	var href = $("#currMissRewards > a").attr("href");
	$("#currMissRewards > a").attr("href", href.replace(/[0-9]+/, newMiss.id));

	$("#currMissDescr > h2").html(newMiss.name);
	$("#currMissDescr > img").attr({"src" : "imgs/missions/" + newMiss.image,
									"alt" : "Image de " + newMiss.name
									});
	$("#currMissDescr > p").html(newMiss.descr);

	var durMiss = newMiss.duration;

	var duration = (Math.floor(durMiss/24) > 0 ? (Math.floor(durMiss/24)+"j ") : "") + 
				   (durMiss%24 > 0 ? (durMiss%24+"h") : ""); 

	$("#gold").html(newMiss.gold);
	$("#reputation").html(newMiss.reputation);
	$("#duration").html(duration);

});
$("#mission-0").click();

</script>

{% endblock %}