{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{asset('css/pension.css')}}"/>
{% endblock %}

{% block main_screen %}

<div class="page-header">
	<h2>Résumé de votre pension</h2>
	<h4>
		{% if missNotOver is not empty %}
			Vous avez actuellement {{ missNotOver|length }} 
			pensionnaire{% if missNotOver|length > 1 %}s{% endif %}
		{% else %}
			Vous n'avez aucun pensionnaire pour le moment!
		{% endif %}
	</h4>
</div>

<div class="row">
		<div class="list_miss  col-sm-10 col-sm-push-1">
			<ul class="nav nav-pills">
		  		<li id="miss_not_over_pill" class="miss_pill">
		  			<a data-toggle="pill" href="#miss_not_over">Missions en cours</a>
		  		</li>
		  		{% if missOver is not empty %}
		  		<li id="miss_over_pill" class="miss_pill">
		  			<a data-toggle="pill" href="#miss_over">Missions terminées</a>
		  		</li>
		  		{% endif %}
			</ul>
			
			<div class="tab-content">
				<div id="miss_not_over" class="tab-pane fade in">
					<table class="table table-hover table-bordered">
						<thead>
					      <tr>
					      	<th class="img_th"></th>
					        <th>Nom</th>
					        <th>Santé</th>
					        <th>Repas</th>
					        <th class='date_th'>Termine le</th>
					        <th></th>
					      </tr>
					    </thead>
					    <tbody>
					    {% if missNotOver is not empty %}
					     	{% for i in 0..missNotOver|length -1 %}
							<tr id="miss_not_over-{{ i }}" class="mission_not_over active">
								<td>
									<img class="imgMission" src="{{ asset('imgs/missions/' ~ missNotOver[i].image) }}"
															alt="Image de {{ missNotOver[i].name }}"/>
								</td>
								<td>{{ missNotOver[i].name }}</td>
								<td>
									<div class="progress">
  										<div class="progress-bar
  													{% if missNotOver[i].pdv >= 50 %}
  														progress-bar-success 
  													{% else %}
  														progress-bar-danger
  													{% endif %}"
  											 role="progressbar"
  											 aria-valuenow="{{ missNotOver[i].pdv }}"
  											 aria-valuemin="0" aria-valuemax="100" style="width:{{ missNotOver[i].pdv }}%"> 
  										</div>
     									<div class="progress-bar-title">{{ missNotOver[i].pdv }}</div>
									</div>
								</td>
								<td>
									{% set eaten = missNotOver[i].hasEaten %}
									{% if eaten == 0 %}
										Aucun<br><a href={{ path('veterinary') }} class="btn btn-link">Nourrir</a>
									{% elseif eaten == 1 %}
										<img src="{{ asset('imgs/croquette_bronze.png') }}" height="30" width="30">
									{% elseif eaten == 2 %}
										<img src="{{ asset('imgs/croquette_argent.png') }}" height="30" width="30">
									{% else %}
										<img src="{{ asset('imgs/croquette_or.png') }}" height="30" width="30">
									{% endif %}									
								</td>
								<td>{{ missNotOver[i].endDate|date("d/m/Y à H:i") }}</td>
								<td class="progress_td">
									{% set finishedAt = missNotOver[i].finishedAt|number_format %}
									<div class="progress">
  										<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
  											 aria-valuenow="{{ finishedAt }}"
  											 aria-valuemin="0" aria-valuemax="100" style="width:{{ finishedAt }}%"> 
  										</div>
  										 <div class="progress-bar-title">Terminée à {{ finishedAt }}%</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						{% endif %}
					    </tbody>
				 	</table>
				</div>

				{% if missOver is not empty %}
				<div id="miss_over" class="tab-pane fade in">
					<table class="table table-hover table-bordered">
						<thead>
					      <tr>
					      	<th rowspan="2"></th>
					        <th rowspan="2">Nom</th>
					        <th rowspan="2">Santé</th>
					      	<th colspan="2">Récompenses</th>
					      	<th rowspan="2" class="date_th">Terminée le</th>
					      </tr>
					      <tr>
					      	<th class="rewards_th">Or</th>
					        <th class="rewards_th">Reputation</th>
					      </tr>
				    </thead>
					    <tbody>
					     	{% for i in 0..missOver|length -1 %}
							<tr id="miss_over-{{ i }}" class="mission_over active">
								<td class="img_th"><img class="imgMission" src="{{ asset('imgs/missions/' ~ missOver[i].image) }}"
															alt="Image de {{ missOver[i].name }}"</img></td>
								<td>{{ missOver[i].name }}</td>
								<td class="progress_td">
									<div class="progress">
										<div class="progress-bar
  													{% if missOver[i].pdv >= 50 %}
  														progress-bar-success 
  													{% else %}
  														progress-bar-danger
  													{% endif %}"
  											 role="progressbar"
		  									 aria-valuenow="{{ missOver[i].pdv }}"
		  									 aria-valuemin="0" 
		  									 aria-valuemax="100" 
		  									 style="width:{{ missOver[i].pdv }}%"> 
		  								</div>
		     							<div class="progress-bar-title">{{ missOver[i].pdv }}</div>
		     						</div>
	     						</td>
	     						<td>{{ missOver[i].gold }}</td>
								<td>{{ missOver[i].reputation }}</td>
								<td class="date_th">{{ missOver[i].endDate|date("d/m/Y à H:i") }}</td>
							</tr>
							{% endfor %}
					    </tbody>
				 	</table>
				</div>
				{% endif %}
			</div>
		</div>
</div>


<div class="row">
		<div id="events" class="col-sm-8 col-sm-push-2"> 
			<div id="events_header">
				<h4>Evènements en cours</h4>
			</div>
			<div>
				{% if events|length != 0 %}
					<div class="panel-group" id="accordion">
					{% for i in 0..events|length-1 %}
						<div class="panel panel-default">
						    <div class="panel-heading">
						      <p class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ i }}">
						        {{ events[i].name }}</a>
						      </p>
						    </div>
						    <div id="collapse{{ i }}" class="panel-collapse collapse
						    								{% if loop.first %} in {% endif %}">
						      <div class="panel-body">
									<p>Du <strong>{{ events[i].start|date("d/m/Y H:i") }}</strong>
									 au <strong>{{ events[i].end|date("d/m/Y H:i") }}</strong></p>
								   <p>{{ events[i].description }}</p>
						      </div>
						    </div>
						</div>
						{% endfor %}
					</div>
				{% else %}
					<p>Aucun évènement en cours</p>
				{% endif %}
			</div>
		</div>

	</div>

<script> 
	{% if missOver is empty %}
		$("#miss_not_over").addClass("active");	
		$("#miss_not_over_pill").addClass("active");	
	{% else %}
		$("#miss_over").addClass("active");	
		$("#miss_over_pill").addClass("active");
	{% endif %}
</script>
{% endblock %}