{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block main_screen %}

<div class="page-header">
	<h3>Vos pensions</h3>
</div>

	{% set indexConn = -1 %}

	<div class="row">
		<div id="otherPensions" class="col-sm-4">
			<ul id="list_pensions" class="list-group">
				{% for i in 0..allPensions|length -1 %}
					<li id="pension-{{ i }}" class="pension list-group-item
							{% if allPensions[i].name == auth.lastPension.name %}
								{% set indexConn = i %}
								active
							{% endif %}"
					>{{ allPensions[i].name }}</li>
				{% endfor %}
			</ul>
		</div>

		<div id="currPension" class="col-sm-7 col-sm-push-1">
			<div id="infoPension">
				<img id="avatar" src="uploads/avatar/{{ allPensions[indexConn].avatar }}" heigth="150" width="150"><br>
				<img src='/imgs/game_icon.jpg' height='20' width='20'> :
					<span id="nbMiss">{{ allPensions[indexConn].nbMission }}</span><br>
				<img src='/imgs/po.png'> : 
					<span id="gold">{{ allPensions[indexConn].gold }}</span>
			</div>
			<div>
				<span id="changePension">
					<a href='{{ path("changePension", { "id" : auth.LastPension.id }) }}'>
						<button type="button" id="changePensionBut" disabled class="upBut btn btn-default">Changer de pension</button>
					</a>
				</span>
			</div>
		</div>
	</div>
	
	<div>
		<button data-toggle="collapse" data-target="#createPension" class="btn btn-default">Nouvelle pension</button>
		<span id="removePension">
			<a href='{{ path("removePension", { "id" : auth.LastPension.id }) }}'>
				<button type="button" id="rmPensionBut" disabled class=" upBut btn btn-default">Supprimer</button>
			</a>
		</span>
	</div>
	<div id="div_create_pension" class="col-sm-4">

		<div id="createPension" class="collapse">
			{{ form_start(formNew) }}
			{{ form_widget(formNew) }}
			{{ form_end(formNew) }}
		</div>
	</div>

<script>
	var pensions = {{ allPensions|json_encode|raw }};

	$(".pension").click(function(){
		$(".pension").removeClass("active");
		$(this).addClass("active");
	 
		var newPension = pensions[$(this).attr("id").split("-")[1]];

		$("#avatar").attr("src", "uploads/avatar/"+newPension.avatar);
		$("#nbMiss").html(newPension.nbMission);
		$("#gold").html(newPension.gold);


		var hrefRm = $("#removePension > a").attr("href");
		$("#removePension > a").attr("href", hrefRm.replace(/[0-9]+/, newPension.id));

		var hrefChg = $("#changePension > a").attr("href");
		$("#changePension > a").attr("href", hrefChg.replace(/[0-9]+/, newPension.id));

		if (newPension.id == {{ app.user.lastPension.id }})
			$(".upBut").prop("disabled", true);
		else $(".upBut").prop("disabled", false);
	});

</script>

{% endblock %}