{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/ranking.css') }}"/>
{% endblock %}

{% block main_screen %}

<div class="page-header">
	<h3>Classement</h3>
	<p>Cliquez sur une pension pour afficher les informations la concernant</p>
</div>

	
	<div class="row">
		<div class="list_user  col-sm-5">
			<div class="col-sm-6">
				Nombre de pensions : {{ nbTot }}
			</div>
			<div class="col-sm-6">
			 	<input type="text" id="search" onkeyup="search();" placeholder="Rechercher une pension...">
			</div>
					<table id="tableRank" class="table table-hover table-bordered">
						<thead>
					      <tr>
					      	<th>Rang</th>
					        <th>Nom</th>
					        <th>Réputation</th>
					        <th>Nombre de pensionnaires</th>
					      </tr>
					    </thead>
					    <tbody>
					     {% for i in 0..allPension|length -1 %}
							<tr id="pension-{{ i }}" class="pension link active">
								<td>{{ i+1 }}</td>
								<td>{{ allPension[i].name }}</td>
								<td>{{ allPension[i].reputation }}</td>
								<td>{{ allPension[i].nbMission }}</td>
							</tr>
						{% endfor %}
					    </tbody>
				 	</table>
			</div>
		<div id="pension_view" class="col-sm-6 col-sm-push-1">
			<div id="info_pension" class="hidden">
			</div>
			<a href="{{ path('post_write_to', {'id':0}) }}" class="btn btn-default hidden" id="write_mess">Ecrire un message</a>
			{% if is_granted('ROLE_ADMIN') %} <a href="{{ path('remove_user', {'id':0}) }}" class="btn btn-default hidden" id="remove_user">Supprimer cet utilisateur</a> {% endif %}
		</div>
	</div>
<script>

var allPension  = {{ allPension|json_encode|raw }};

$(".pension").click(function(){
	$(".pension").removeClass("success");
	$(this).addClass("success");

	var selPen = allPension[$(this).attr("id").split("-")[1]];
	$("#info_pension").removeClass("hidden");
	$("#info_pension").html("<h3>"+selPen.name+"</h3><br><img src=\"uploads/avatar/"+selPen.avatar+"\" heigth=\"150\" width=\"150\"><br><img src='/imgs/game_icon.jpg' height='20' width='20'> : "+selPen.nbMission+"<br><img src='/imgs/po.png'> : "+selPen.gold);
	var href= $("#write_mess").attr("href");
	$("#write_mess").removeClass("hidden");
	$("#write_mess").attr("href", href.replace(/[0-9]+/,selPen.id));

	$("#remove_user").removeClass("hidden");
	href = $("#remove_user").attr("href");
	$("#remove_user").attr("href", href.replace(/[0-9]+/, selPen.id));
});

	function search() {

	  var input, filter, table, tr, td, i;
	  input = $("#search");
	  filter = input.val().toUpperCase();
	  table = $("#tableRank");
	  tr = $("#tableRank").find("tr");

	  for (i = 1; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("td")[1];
	    if (td) {
	      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
	        tr[i].style.display = "";
	      } else {
	        tr[i].style.display = "none";
	      }
	    } 
	  }
	}

</script>
{% endblock %}