{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{asset('css/veterinaire.css')}}"/>
{% endblock %}

{% block main_screen %}

<div class="page-header">
	<h1>Bienvenue chez le vétérinaire</h1>
	<h4> Ici vous pouvez soigner et nourrir vos pensionnaires. </h4>
	<p>Soigner ou nourrir un animal vous coûtera 1
		<img src="{{ asset('imgs/paws.png') }}">
	</p>
	</div>

<div class="row">
	<div id="animal_list" class="list-group col-sm-2 col-sm-push-1">
	{% if animal_list|length != 0 %}
		{% for i in 0..animal_list|length-1 %}
		<a id="ani-{{ i }}" class="animalli list-group-item" href='#'>{{ animal_list[i].name }}</a>
		{% endfor %}
	{% else %}
		Aucun pensionnaire!
	{% endif %}
	</div>
	
	<div id="interactive_div" class="col-sm-push-1 col-sm-8 hidden">
		<div id="div_heal" class="col-sm-6">
			<p id="action_heal"></p>
			<div id="bar_life" class="progress">
  				<div id="sub_bar_life" class="progress-bar" role="progressbar"
  					 aria-valuemin="0" aria-valuemax="100"> 
  				</div>
     			<div id="progress-bar-title" class="progress-bar-title"></div>
			</div>
			<div>
				<a href="{{ path('cure', {'id' : 0}) }}" class="action btn btn-info disabled" role="button" id="heal" >
					Soigner (<span id="cost_heal"></span>
					<img src="{{ asset('imgs/po.png') }}">)
				</a>
			</div>
		</div>

		<div id="div_feed" class="col-sm-6 col-sm-push-1">
			<p id="action_feed"></p>
			<p id="last_meal">Dernier repas : <img src="" class="meal_img"></p>
			<div>
				<a href="{{ path('feed', {'id' : 0, 'typeFood' : 1}) }}"
					class="action action_feed btn btn-info" role="button" id="typeFood-1" >
					<img src="{{ asset('imgs/croquette_bronze.png') }}" class="meal_img">
						({{ costsFood[1] }}
						<img src="{{ asset('imgs/po.png') }}">)
				</a>
				<a href="{{ path('feed', {'id' : 0, 'typeFood' : 2}) }}"
					class="action action_feed btn btn-info" role="button" id="typeFood-2" >
					<img src="{{ asset('imgs/croquette_argent.png') }}" class="meal_img">
						({{ costsFood[2] }}
						<img src="{{ asset('imgs/po.png') }}">)
				</a>
				<a href="{{ path('feed', {'id' : 0, 'typeFood' : 3}) }}"
					class="action action_feed btn btn-info" role="button" id="typeFood-3" >
					<img src="{{ asset('imgs/croquette_or.png') }}" class="meal_img">
						({{ costsFood[3] }}
						<img src="{{ asset('imgs/po.png') }}">)
				</a>
			</div>
		</div>
	</div>

</div>

<script>

var animals = {{ animal_list|json_encode|raw }};

{% for i in 1..3 %}
	{% if costsFood[i]  >  app.user.lastPension.gold %}
		$("#typeFood-" + {{ i }}).addClass("disabled");
	{% endif %}
{% endfor %}

$(".animalli").click(function(){
	$("#interactive_div").removeClass("hidden");
	$(".animalli").css("font-weight" , "");
	$(this).css("font-weight" , "bold");

	var currAnimal = animals[$(this).attr("id").split("-")[1]];

	updateHealDiv(currAnimal);

	updateFeedDiv(currAnimal);
});
	
	function updateHealDiv( currAnimal ){
		if(currAnimal.pdv == 100){
			$("#action_heal").html(currAnimal.name+" n'a pas besoin d'être soigné.");
			$("#heal").addClass("hidden");
			$("#bar_life").addClass("hidden");
		} else {

			$("#bar_life").removeClass("hidden");
			$("#sub_bar_life").attr("aria-valuenow" , currAnimal.pdv)
						  	  .css("width", currAnimal.pdv + "%")
						  	  .addClass(currAnimal.pdv < 50    ? "progress-bar-danger"
						  	  							       : "progress-bar-success")
						  	  .removeClass(currAnimal.pdv < 50 ? "progress-bar-success"
						  	  								   : "progress-bar-danger");

			$("#progress-bar-title").html("Vie : " + currAnimal.pdv + " / 100");
			
			$("#cost_heal").html( currAnimal.costHeal );

			if ({{ app.user.lastPension.gold }} < currAnimal.costHeal) {
				$("#action_heal").html("Vous n'avez pas assez d'argent pour soigner "+ currAnimal.name + ".");
				$("#heal").addClass("disabled")
						  .removeClass("hidden");
			} else {
				$("#action_heal").html("Voulez-vous soigner "+ currAnimal.name + " ?");

				$("#heal").removeClass("disabled hidden");

				var href = $("#heal").attr("href");
				$("#heal").attr('href', href.replace(/[0-9]+/, currAnimal.id));
			}
		}
	}

	function updateFeedDiv( currAnimal ){
		if(currAnimal.hasEaten == 0){
			$("#action_feed").html("Quel repas donner à "+ currAnimal.name + " ?");
			$(".action_feed").removeClass("hidden");

			$("#last_meal").addClass("hidden");

			for (var i = 1; i <= 3; i++) {
				href = $("#typeFood-" + i).attr("href");
				$("#typeFood-" + i).attr("href", href.replace(/[0-9]+\/[0-9]+/, currAnimal.id + "/" + i));
			}
		} else {
			$("#action_feed").html(currAnimal.name + " a déjà été nourri aujourdhui, revenez demain!");

			$("#last_meal").removeClass("hidden");
			$("#last_meal > img").attr("src", currAnimal.hasEaten == 1 ? "{{ asset('imgs/croquette_bronze.png') }}":
									    	  currAnimal.hasEaten == 2 ? "{{ asset('imgs/croquette_argent.png') }}":
									  							   		 "{{ asset('imgs/croquette_or.png') }}");
			$(".action_feed").addClass("hidden");
		}
	}

</script>

{% endblock %}
