{% extends 'administration/homeAdmin.html.twig' %}

{% block main_screen %}
	{{ parent() }}

	<div class="row">

		<div id="list_events" class="col-sm-4">
		{% if events is empty %}
			<p>Aucun évènement à afficher</p>
		{% else %}
			<div class="list-group">
				{% for i in 0..events|length-1 %}
				<a id="event-{{ i }}" class="event list-group-item" href='#'>{{ events[i].name }}</a>
				{% endfor %}
			</div>
		{% endif %}
		</div>

		<div id="event_view" class="col-sm-5 col-sm-push-1">
		</div>

	</div>

	<a href="{{ path('modifyEvent',  { 'id' : 0 }) }}" role="button" id="modify" class="chgBut btn btn-info btn-sm disabled">
		Modifier
	</a>
	<a href="{{ path('deleteEvent', { 'id' : 0 }) }}" role="button" id="remove" class="chgBut btn btn-info btn-sm disabled">
		Supprimer
	</a>
	<a href="{{ path('modifyEvent') }}" role="button" class="btn btn-info btn-sm">
		Nouveau
	</a>

	<script>
	var events = {{ events|json_encode|raw }};

	$(".event").click(function(){
		$(".event").removeClass("active");
		$(this).addClass("active");
	 
		var newEvent = events[$(this).attr("id").split("-")[1]];

		var hrefMod = $("#modify").attr("href");
		$("#modify").attr("href", hrefMod.replace(/[0-9]+/, newEvent.id))
					.removeClass("disabled");

		var hrefRm = $("#remove").attr("href");
		$("#remove").attr("href", hrefRm.replace(/[0-9]+/, newEvent.id))
					.removeClass("disabled");

		$('#event_view').html("<h4>" + newEvent.name + "</h4>\
								<p>Du <strong>"+ newEvent.start.date.split('.')[0] +"</strong>\
								 au <strong>" + newEvent.end.date.split('.')[0] +"</strong></p>\
							   <p>" + newEvent.description + "</p>");
	});
</script>
    

{% endblock %}