{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{asset('css/post_consult.css')}}"/>
{% endblock %}

{% block main_screen %}

{% set route = app.request.attributes.get('_route') %}
	
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">

      <li class="{% if route == 'administration' 
      				or route == 'modifyEvent'
      				or route == 'events_list'
      				or route == 'deleteEvent' %} active {% endif %}">
      	<a href="{{ path('events_list') }}">Evènements</a>
      </li>

    </ul>
  </div>
</nav>

{% endblock %}