{% extends 'administration/homeAdmin.html.twig' %}

{% block main_screen %}
	{{ parent() }}
    
	{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.description) }}

	<fieldset>
	    <legend>Bonus</legend>
		    <div class="form-inline">
				{{ form_row(form.bonusGold) }}
				{{ form_row(form.bonusReputation) }}
			</div>
	</fieldset>

	<fieldset>
	    <legend>Réductions</legend>
	    	<div class="form-inline">
	  		  	{{ form_row(form.salesGold) }}
	    	</div>
	</fieldset>
	
	{{ form_row(form.start) }}
	{{ form_row(form.end) }}

	{{ form_row(form.create, { 'attr': {'class': 'btn-primary'} }) }}
	{{ form_row(form._token) }}
	{{ form_end(form) }}

{% endblock %}