#liens, #ecran_princip{
	border-style:solid;
	background-color:#E1E6FA;
	padding : 0px 5px 0px 5px;
}

#ecran_princip{
		padding : 10px 10px 10px 10px;
}

#infosPension{
	background-color:#E1E6FA;
}
#left_menu{
	padding:0px 0px 0px 0px;
}

.disabled{
 	pointer-events: none;
  	opacity: 0.5;
  	background: #CCC;
}

#imgPension{
	width : 30px;
	height: 30px;
}


.butt{
	background:url(../imgs/degradedivide.jpg) no-repeat;
	border-radius:10px;
	width: 100%;
	height: 50px;
	margin: 10px 0px 10px 0px;
	font-family:Georgia;
	color : black;
}

.link{
	cursor : pointer;
}


.progress {
	position: relative;
  	min-width: 100px;
	width:100%;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 20px;
  overflow: hidden;
  color: black;
    right: 0;
  left: 0;
}

.meal_img{
	width : 30px;
	height : 30px;
}