#currMissDescr > img{
	width : 100px;
	height: 120px;
	margin-right: 10px;
}

#currMissDecr{
	height : 600px;
	margin-bottom: 15px;
}

#currMissRewards{
	border-style: solid;
}
#acceptMission{
	border-style: solid;
}

#listM{
	list-style : none;
	border-style: solid;
}

#listM > li{
	text-decoration: underline;
	margin : 5px 0px 5px 0px;
}