.imgMission{
	width : 30px;
	height: 29px;
}

.table > thead > tr > th,
.table > tbody > tr > td{
   line-height: 10px;
   min-height: 10px;
   height: 15px;
   vertical-align: middle;
   text-align: center;
}

.progress_td {
	width:200px;
}

.date_th {
	width:175px;
}

.img_th {
	width:50px;
}

.rewards_th{
	width : 150px;
}