{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{asset('css/post_consult.css')}}"/>
{% endblock %}

{% block main_screen %}

<div class="page-header">
	<h3>Messagerie</h3>
</div>


	<div class="row">
		<div class="list_mess  col-sm-6">
			<ul id="mess_rec_pill" class="nav nav-pills">
		  		<li class="active mess_pill">
		  			<a data-toggle="pill" href="#list_mess_rec">Recus</a>
		  		</li>
		  		<li id="mess_sent_pill" class="mess_pill">
		  			<a data-toggle="pill" href="#list_mess_sent">Envoyés</a>
		  		</li>
			</ul>
			
			<div class="tab-content">
				<div id="list_mess_rec" class="tab-pane fade in active">
					<table class="table table-hover table-bordered">
						<thead>
					      <tr>
					        <th>Expéditeur</th>
					        <th>Objet</th>
					        <th>Date</th>
					      </tr>
					    </thead>
					    <tbody>
					    {% if messagesRec is not empty %}
					     {% for i in 0..messagesRec|length -1 %}
							<tr id="mess_rec-{{ i }}" class="message_rec link active">
								<td>
									{% if  messagesRec[i].sender is not null %}
										{{ messagesRec[i].sender.name }}
									{% else %}
										Utilisateur supprimé
									{% endif %}
								</td>
								<td>{{ messagesRec[i].object }}</td>
								<td>{{ messagesRec[i].date|date("d/m/Y à H:i") }}</td>
							</tr>
						{% endfor %}
						{% endif %}
					    </tbody>
				 	</table>
				</div>
				<div id="list_mess_sent" class="tab-pane fade in">
					<table class="table table-hover table-bordered">
						<thead>
					      <tr>
					        <th>Destinataire</th>
					        <th>Objet</th>
					        <th>Date</th>
					      </tr>
					    </thead>
					    <tbody>
					    {% if messagesSent is not empty %}
					     {% for i in 0..messagesSent|length -1 %}

					     	{% set toAll = messagesSent[i].receiver is not null 
					     			and messagesSent[i].receiver.name == app.user.lastPension.name
					     			and is_granted('ROLE_ADMIN') %}
							<tr id="mess_sent-{{ i }}" class="message_sent link active">
								{% if toAll %}
									<td>Toutes les pensions</td>
								{% elseif messagesSent[i].receiver is not null %}
									<td>{{ messagesSent[i].receiver.name }}</td>
								{% else %}
									<td>Utilisateur supprimé</td>
								{% endif %}
								<td>{{ messagesSent[i].object }}</td>
								<td>{{ messagesSent[i].date|date("d/m/Y à H:i") }}</td>
							</tr>
						{% endfor %}
						{% endif %}
					    </tbody>
				 	</table>
				</div>
			</div>
		</div>

		<div id="mess_view" class="col-sm-6">
			<p>Sélectionnez un message à lire</p>
		</div>
	</div>

	<a href="{{ path('post_write',  { 'id' : 0 }) }}" role="button" id="answer" class="chgBut btn btn-info btn-sm disabled">Répondre</a>
	<a href="{{ path('post_remove', { 'id' : 0 }) }}" role="button" id="remove" class="chgBut btn btn-info btn-sm disabled">Supprimer</a>
	<a href="{{ path('post_write') }}" role="button" class="btn btn-info btn-sm">Nouveau</a>

	<script>

 	var messagesRec  = {{ messagesRec|json_encode|raw }};
  	var messagesSent = {{ messagesSent|json_encode|raw }};

	$(".message_rec").click(function(){
		$(".message_rec").removeClass("success");
		$(this).addClass("success");
	 
		var newMess = messagesRec[$(this).attr("id").split("-")[1]];

		var hrefAns = $("#answer").attr("href");
		$("#answer").attr("href", hrefAns.replace(/[0-9]+/, newMess.id))
					.removeClass("disabled");

		var hrefRm = $("#remove").attr("href");
		$("#remove").attr("href", hrefRm.replace(/[0-9]+/, newMess.id))
					.removeClass("disabled");

		$('#mess_view').html("<p>Message :</p><p>" + newMess.message + "</p>");
	});

	$(".message_sent").click(function(){
	 	$(".message_sent").removeClass("success");
		$(this).addClass("success");
		
		var newMess = messagesSent[$(this).attr("id").split("-")[1]];

		var hrefRm = $("#remove").attr("href");
		$("#remove").attr("href", hrefRm.replace(/[0-9]+/, newMess.id))
					.removeClass("disabled");

		$('#mess_view').html("<p>Message :</p><p>" + newMess.message + "</p>");
	});

	$(".mess_pill").click(function(){
		$(".chgBut").addClass("disabled");
	 	$(".message_rec").removeClass("success");
		$(".message_sent").removeClass("success");
	});
</script>
{% endblock %}