{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{asset('css/post_new.css')}}"/>
{% endblock %}

{% block main_screen %}

<div class="page-header">
	<h3>Nouveau message</h3>
</div>

	{{ form_start(formNew) }}
	{{ form_row(formNew.receiver)  }}
	{% if is_granted('ROLE_ADMIN') %}
		{{ form_row(formNew.toAllPensions) }}	{% endif %}
	{{ form_row(formNew.object) }}
	{{ form_row(formNew.message) }}
	{{ form_row(formNew.send, { 'attr': {'class': 'btn-primary'} }) }}
	{{ form_row(formNew._token) }}
	{{ form_end(formNew, {'render_rest': false}) }}
<script>
	$("#message_toAllPensions").click(function(){
		if ($(this).is(":checked"))
			$("#message_receiver").prop('disabled', true);
		else 
			$("#message_receiver").prop('disabled', false);
	});
</script>
{% endblock %}