{% extends 'base.html.twig' %}
{% block main_screen %}
    <h1>Connexion</h1>

    {% if error %}
		<div class="alert alert-danger error_connect">{{ error.message }}</div>
	{% endif %}


  <form action="{{ path('login') }}" method="post">
  	<div class="form-group">
    	<label for="username">Pseudo :</label>
    	<input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" />
    </div>
    
    <div class="form-group">
    	<label for="password">Mot de passe :</label>
    	<input type="password" id="password" class="form-control" name="_password"  />
    </div>
    <button type="submit" class="btn btn-primary">Connexion</button>
  </form>


	<button type="button" class="btn btn-link">
		<a href="{{ path('signup') }}">Inscription</a>
	</button>

{% endblock %}