{% extends 'base.html.twig' %}

{% block main_screen %}
    <h1>Inscription</h1>

	{{ form_start(form) }}
	{{ form_row(form.username) }}
	{{ form_row(form.email) }}
	{{ form_row(form.password) }}
	<div>
		<h3>Votre Première pension:</h3>
		{{ form_row(form.pensionName) }}
		{{ form_row(form.pensionAvatar) }}
	</div>
	{{ form_row(form.signup, { 'attr': {'class': 'btn-primary'} }) }}
	{{ form_row(form._token) }}
	{{ form_end(form) }}

	
	<button type="button" class="btn btn-link">
		<a href="{{ path('login') }}">Connexion</a>
	</button>

{% endblock %}